.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */

.comment {
  color: #64748b;
  font-size: 16px;
  width: 55vw;
  word-wrap: break-word;
}
.icon {
  font-size: 15px;
  color: #ffffff;
  width: 35px;
  height: 35px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.name {
  color: #1e293b;
  font-size: 20px;
  margin-right: 10px;
}
.time {
  color: #94a3b8;
  font-size: 12px;
}

.button {
  background-color: #ffffff;
  color: #ffffff;
}
.likeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border-style: none;
}
.likeImg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.style2 {
  display: flex;
  flex-direction: row;
}
.style3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.functionStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
hr {
  margin: 0px;
  margin-bottom: 10px;
  height: 2px;
  border-style: none;
  background-color: #7e858e;
}
.commentItem {
  padding: 10px;
  box-shadow: 0px 4px 4px 0px #7e858e;
  margin-bottom: 15px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: thistle;
}
.deleteButton {
  width: 22px;
  height: 22px;
}
.liked {
  color: #0ea5e9;
  font-size: 16px;
}
.notliked {
  font-size: 16px;
}
